body{
    background: #bdbdbb;
    margin: 0;
}
div{
    box-sizing: border-box;
}
h1{
    background: white;
    margin: 0;
    padding: 10px;
}
div.post{
    background: white;
}
div.post h2, div.post p{
    padding: 10px;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;   
    background-color: blueviolet;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    background-color: blue;
}

div.Container{
    width: 600px;
    margin: auto;
}